.App {
  width: 600px;
  text-align: center;
  margin: auto;
}

.inputText {
  width: 98%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 1.4em;
}

ul {
  width: 100%;
}

li {
  list-style-type: none;
}
.todo {
  list-style-type: none;
  width: 80%;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.button {
  width: 100%;
  height: 50px;
  margin: 10px;
  font-size: 1.4em;
  background-color: black;
  color: white;
}

.btnFilter {
  width: 30%;
  margin: 5px;
  background-color: white;
  color: black;
}

.boxWraper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

label {
  font-size: 1.5em;
}

.btnGroup {
  width: 100%;
}

.btnEdit {
  width: 48%;
  margin: 1%;
  background-color: #fff;
  color: black;
}

.btnDelete {
  width: 48%;
  margin: 1%;
  background-color: brown;
  color: white;
}

.cardNameList {
  padding: 0;
  margin: 20px 0;
}

.cardName {
  padding: 5px;
  font-size: 1.2em;
  text-align: left;
  border: 1px solid burlywood;
}
